body {
    background-image: url('images/background.jpg'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-attachment: fixed; /* Fixes the background image in place */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
h2 {
    margin: 0;
    padding-bottom: 1rem;
}
P {
   margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: flex-start; /* Align items at the start */
    align-items: center;
}
.logo {
    margin-left: 20px; /* Adjust the spacing as needed */
}

.logo h1 {
    margin: 0;
}

nav .hamburger-menu {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Adjust the spacing between the menu and logo */
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.menu {
    display: none;
    position: fixed; /*Change from absolute to fixed */
    top: 60px; /* adjust based on header height */
    left: 0;
    background-color: #333;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
    width: 200px;
    z-index: 1000; /* Ensure it stays on top */
}

.menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: #575757;
}

.menu.show {
    display: block;
}

main {
    padding: 2rem;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}
.login-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 2rem;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    width: 100%; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; /* Vertically center the content */ 
}
.signin-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
.signin-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.signin-container h2 {
    margin-bottom: 1rem;
}

#signin-form label {
    display: block;
    margin-top: 0.5rem;
    text-align: left;
}

#signin-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#signin-form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
}

#signin-form button:hover {
    background-color: #575757;
}
.new-user-button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
}

.new-user-button:hover {
    background-color: #0056b3;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.registration-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.registration-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically center the content */
}

.registration-container h2 {
    margin-bottom: 1rem;
}
#registration-form {
     width: 100%;
}

#registration-form label {
    display: block;
    margin-top: 0.5rem;
    text-align: left;
}

#registration-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#registration-form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
}

#registration-form button:hover {
    background-color: #575757;
}

#categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px; /*Increase the font size here */
}
#categories-list li {
    margin: 10px 0;
}

